@forward './reset';
@forward './responsive';

@import './mixings/breakpoints';

body {
	background-color: var(--color-background);
	font-family: var(--font-family-body);
	line-height: var(--line-height);
	font-size: var(--spacing-xs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
	font-weight: var(--font-weight-bold);
	color: var(--text-color-headings);
	text-wrap: pretty;
}

h1 {
	font-size: var(--font-size-xxxl);
}

h2 {
	font-size: var(--font-size-xxl);
}

h3 {
	font-size: var(--font-size-xl);
}

h4 {
	font-size: var(--font-size-lg);
}

h5 {
	font-size: var(--font-size-md);
}

h6 {
	font-size: var(--font-size-sm);
}

p {
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-regular);
	color: var(--text-color-body);
	text-wrap: stable;
	text-align: justify;
}

small {
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-regular);
	color: var(--text-color-body);
	text-wrap: balance;
}

a {
	position: relative;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-regular);
	color: var(--text-color-links);
	text-decoration: none;
	line-height: var(--spacing-lg);
	transition: color var(--timing-3) ease-in-out;

	@include responsiveUp('lg') {
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			display: block;
			width: 0%;
			height: 2px;
			background-color: var(--color-white);
			transition: width var(--timing-3) ease-in-out;
		}

		&:hover {
			color: var(--color-white);
			font-weight: var(--font-weight-regular);

			&::after {
				width: 100%;
			}
		}
	}
}

::-webkit-scrollbar {
	width: 0.5rem;

	&-thumb {
		background-color: var(--color-primary-2);

		&:hover {
			background-color: var(--color-tertiary);
		}
	}

	&-track {
		background-color: var(--color-background);
	}
}

input[type='text'],
input[type='tel'],
input[type='email'],
label,
textarea {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-regular);
	color: var(--color-white);
}

input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
	outline: none;
	padding: var(--spacing-xxs);
	border: none;
	border-bottom: 1px solid var(--color-white-3);
	background-color: transparent;
	transition: border-color var(--timing-3) ease-in-out;

	&::placeholder {
		color: var(--color-white-2);
	}

	&:focus {
		border-color: var(--color-white);
	}
}
