@import '/src/ui/theme/application/mixings/breakpoints';

.form {
	display: grid;
	gap: var(--spacing-md);
	margin-top: var(--spacing-md);
	padding: var(--spacing-lg);
	background-color: var(--color-tertiary);

	&_heading {
		color: var(--color-white);
	}

	&_group {
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--spacing-md);

		> label {
			display: grid;
		}
	}
}
