@import "/src/ui/theme/application/mixings/breakpoints";

.cover {
	width: 100%;
	height: 70px;

	@include responsiveDown("md") {
		height: 66px;
	}

	@include responsiveDown("sm") {
		height: 58px;
	}

	img {
		width: 100% !important;
		height: 100% !important;
		object-fit: cover;
		object-position: center;
		filter: brightness(0.7);
	}
}

.main {
	margin: var(--spacing-xxxl) var(--spacing-md);

	> div {
		border-bottom: 3px solid var(--color-white-5);
		padding-bottom: var(--spacing-lg);
	}
}

.projectDetail {
	display: grid;
	align-items: center;

	@include responsiveUp("lg") {
		grid-template-columns: 1fr auto;
		grid-gap: var(--spacing-md);

		div:last-child {
			p {
				text-align: right;
			}
		}
	}

	.heading {
		font-size: var(--font-size-xl);
	}

	.subheading {
		font-size: var(--font-size-md);
	}

	.detail {
		font-size: var(--font-size-sm);
	}
}

.image {
	width: 100% !important;
	object-fit: cover;
	object-position: center;
}
