@import "/src/ui/theme/application/mixings/breakpoints";

.cover {
	width: 100%;
	height: 66px;

	@include responsiveUp("md") {
		height: 70px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: brightness(0.7);
	}
}

.main {
	margin: var(--spacing-xxxl) var(--spacing-md);

	> div {
		border-bottom: 3px solid var(--color-white-5);
		padding-bottom: var(--spacing-lg);
	}
}

.projectDetail {
	display: grid;
	align-items: center;

	@include responsiveUp("lg") {
		grid-template-columns: 1fr 1fr;
		grid-gap: var(--spacing-md);

		div:last-child {
			p {
				text-align: right;
			}
		}
	}

	.subheading {
		font-size: var(--font-size-lg);
	}

	.detail {
		font-size: var(--font-size-sm);
	}
}
