:root {
	--color-primary: #0f31f2;
	--color-primary-2: #0f31f2cc;
	--color-primary-3: #0f31f299;
	--color-primary-4: #0f31f266;
	--color-primary-5: #0f31f233;
	--color-primary-6: #0f31f21a;

	--color-secondary: #ffaa00;
	--color-secondary-2: #ffaa00cc;
	--color-secondary-3: #ffaa0099;
	--color-secondary-4: #ffaa0066;
	--color-secondary-5: #ffaa0033;
	--color-secondary-6: #ffaa001a;

	--color-tertiary: #011140;
	--color-tertiary-2: #011140cc;
	--color-tertiary-3: #01114099;
	--color-tertiary-4: #01114066;
	--color-tertiary-5: #01114033;
	--color-tertiary-6: #0111401a;

	--color-success: #00d68f;
	--color-success-2: #00d68fcc;
	--color-success-3: #00d68f99;
	--color-success-4: #00d68f66;
	--color-success-5: #00d68f33;
	--color-success-6: #00d68f1a;

	--color-warning: #ffaa00;
	--color-warning-2: #ffaa00cc;
	--color-warning-3: #ffaa0099;
	--color-warning-4: #ffaa0066;
	--color-warning-5: #ffaa0033;
	--color-warning-6: #ffaa001a;

	--color-danger: #ff3d71;
	--color-danger-2: #ff3d71cc;
	--color-danger-3: #ff3d7199;
	--color-danger-4: #ff3d7166;
	--color-danger-5: #ff3d7133;
	--color-danger-6: #ff3d711a;

	--color-background: #ffffff;
	--color-background-2: #ffffffcc;
	--color-background-3: #ffffff99;
	--color-background-4: #ffffff66;
	--color-background-5: #ffffff33;
	--color-background-6: #ffffff1a;

	--color-black: #000000ff;
	--color-black-2: #000000cc;
	--color-black-3: #00000099;
	--color-black-4: #00000066;
	--color-black-5: #00000033;
	--color-black-6: #0000001a;

	--color-white: #ffffff;
	--color-white-2: #ffffffcc;
	--color-white-3: #ffffff99;
	--color-white-4: #ffffff66;
	--color-white-5: #ffffff33;
	--color-white-6: #ffffff1a;

	--color-gray: #8f9bb3;
	--color-gray-2: #8f9bb3cc;
	--color-gray-3: #8f9bb399;
	--color-gray-4: #8f9bb366;
	--color-gray-5: #8f9bb333;
	--color-gray-6: #8f9bb31a;
}
