:root {
	--spacing-xxxs: 4px;
	--spacing-xxs: 8px;
	--spacing-xs: 16px;
	--spacing-sm: 24px;
	--spacing-md: 32px;
	--spacing-lg: 48px;
	--spacing-xl: 64px;
	--spacing-xxl: 96px;
	--spacing-xxxl: 128px;

	--max-width: 1280px;
}
