:root {
	--spacing-xxxs: 3px;
	--spacing-xxs: 6px;
	--spacing-xs: 10px;
	--spacing-sm: 16px;
	--spacing-md: 24px;
	--spacing-lg: 32px;
	--spacing-xl: 48px;
	--spacing-xxl: 64px;
	--spacing-xxxl: 96px;

	--max-width: 1080px;
}
