@import '/src/ui/theme/application/mixings/breakpoints';

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--spacing-xxs);

	padding: var(--spacing-md);

	@include responsiveDown('lg') {
		grid-template-columns: 1fr;
	}
}

.socials {
	display: flex;

	a {
		font-size: var(--spacing-sm);
		padding: var(--spacing-xs);
		line-height: normal;
	}
}
