.highlightedProject {
	position: absolute;
	inset: 0px;
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
	object-position: center center;
	color: transparent;
	filter: brightness(0.85);
	opacity: 0;
	transition: opacity var(--timing-5);
}
.highlightedProjectActive {
	opacity: 1;
}

.grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid:
		". . ." 1fr
		"left_button . right_button" 1fr
		"title title title" 1fr
		/ 1fr 1fr 1fr;
	opacity: 1;
	visibility: visible;

	div {
		padding: var(--spacing-sm) var(--spacing-md);
	}
}
.controllButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	height: max-content;
	padding: var(--spacing-md);
	border-radius: 50%;
	background-color: var(--color-background-4);
	backdrop-filter: blur(5px);
	border: 1px solid var(--color-white);
	color: var(--color-white);
	font-size: var(--font-size-md);
	cursor: pointer;
	scale: 1;
	transition: scale var(--timing-4);

	&:hover {
		scale: 1.2;
	}
}
.left_button {
	grid-area: left_button;
	align-self: center;
}
.right_button {
	grid-area: right_button;
	align-self: center;
	justify-self: end;
}
.title {
	grid-area: title;
	align-self: flex-end;

	display: flex;
	justify-content: center;

	background-color: var(--color-background-2);
	backdrop-filter: blur(5px);

	span {
		font-family: var(--font-family-heading);
		font-weight: var(--font-weight-regular);
		color: var(--color-white);
		font-size: var(--font-size-lg);
		text-align: center;
	}
}
