@import '/src/ui/theme/application/mixings/breakpoints';

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: var(--index-900);

	background-color: var(--color-background-2);
	backdrop-filter: blur(2px);
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacing-xs);

	@include responsiveDown('sm') {
		padding: var(--spacing-xxs);
	}
}

.header_logo {
	display: flex;

	img {
		display: inline;
		object-fit: contain;
	}
}
