@import '/src/ui/theme/application/mixings/breakpoints';

.wrapper {
	position: relative;

	@include responsiveUp('lg') {
		display: none;
	}
}

.ghostBackground {
	position: fixed;
	inset: 0;
	z-index: var(--index-800);

	pointer-events: none;
	visibility: hidden;

	@at-root .wrapper_active & {
		pointer-events: auto;
		visibility: visible;
	}
}

.button {
	position: relative;
	z-index: var(--index-900);
	color: var(--color-black);
	font-size: var(--font-size-xxxl);
	display: flex;
}

.nav {
	position: absolute;
	inset: 0;
	z-index: var(--index-900);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: var(--spacing-xs);

	visibility: hidden;
	opacity: 0;
	transition: opacity var(--timing-4);

	@at-root .wrapper_active & {
		visibility: visible;
		opacity: 1;
	}

	a {
		font-size: var(--font-size-xl);

		@at-root .wrapper_active & {
			color: var(--color-white) !important;
		}
	}

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: var(--index-100);
		background-color: var(--color-tertiary);
		transition: transform var(--timing-5);
		transform: rotate(-45deg) scaleX(0) scaleY(7);

		@at-root .wrapper_active & {
			width: 300px;
			height: 300px;
			transform: rotate(-45deg) scaleX(1.5) scaleY(7);

			@include responsiveUp('sm') {
				transform: rotate(-45deg) scaleX(3) scaleY(7);
			}
		}
	}
}
