.background {
	background-color: var(--color-background);
}

.background_primary {
	background-color: var(--color-primary);
}

.background_secondary {
	background-color: var(--color-secondary);
}

.background_tertiary {
	background-color: var(--color-tertiary);
}

.background_success {
	background-color: var(--color-success);
}

.background_warning {
	background-color: var(--color-warning);
}

.background_danger {
	background-color: var(--color-danger);
}

.background_black {
	background-color: var(--color-black);
}

.background_white {
	background-color: var(--color-white);
}

.background_gray {
	background-color: var(--color-gray);
}

.background_gradient_primary {
	background: var(--gradient-primary);
}

.background_gradient_secondary {
	background: var(--gradient-secondary);
}
