.button {
	display: inline-flex;
	gap: var(--spacing-xs);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-bold);
	color: var(--color-white);
	background-color: var(--color-tertiary);
	padding: var(--spacing-xs) var(--spacing-lg);
	border: 1px solid var(--color-white);
	border-radius: var(--spacing-lg);
	transition: background-color var(--timing-3) ease-in-out, color var(--timing-3) ease-in-out,
		transform var(--timing-3) ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: var(--color-white);
		color: var(--color-tertiary);
		transform: scale(1.1);
	}
}

.button_outline {
	align-items: center;
	display: inline-flex;
	gap: var(--spacing-xs);
	padding: var(--spacing-xs) var(--spacing-lg);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-bold);
	color: var(--color-tertiary);
	border: 1px solid var(--color-tertiary);
	border-radius: var(--spacing-lg);
	transition: background-color var(--timing-3) ease-in-out, color var(--timing-3) ease-in-out,
		transform var(--timing-3) ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: var(--color-tertiary);
		color: var(--color-white);
		transform: scale(1.1);
	}
}

.button_icon {
	@extend .button_outline;
	padding: var(--spacing-xs);
	border-radius: 50%;
}
