.button {
	display: inline-flex;
	gap: var(--spacing-xs);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-bold);
	color: var(--color-background);
	background-color: var(--color-white);
	padding: var(--spacing-md) var(--spacing-xl);
	text-wrap: nowrap;
	transition: background-color var(--timing-3) ease-in-out, color var(--timing-3) ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: var(--color-primary);
		color: var(--color-white);
	}
}
