.button {
	display: inline-flex;
	gap: var(--spacing-xs);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-bold);
	color: var(--color-background);
	background-color: var(--color-white);
	padding: var(--spacing-xs) var(--spacing-lg);
	transition: background-color var(--timing-3) ease-in-out, color var(--timing-3) ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: var(--color-primary);
		color: var(--color-white);
	}

	&_outline {
		@extend .button;
		border: 1px solid var(--color-white);
		color: var(--color-white);
		backdrop-filter: blur(5px);
		background-color: var(--color-background-4);

		&:hover {
			background-color: var(--color-white);
			color: var(--color-background);
		}

		&_light {
			@extend .button_outline;
			background-color: var(--color-white-6);
		}
	}
}
