// position
.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.sticky {
	position: sticky;
}

.static {
	position: static;
}

// positions
.position_top {
	top: 0;
}

.position_bottom {
	bottom: 0;
}

.position_left {
	left: 0;
}

.position_right {
	right: 0;
}

.position_center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.position_center_x {
	left: 50%;
	transform: translateX(-50%);
}

.position_center_y {
	top: 50%;
	transform: translateY(-50%);
}

.position_full {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

// z-index
.z_index_0 {
	z-index: 0;
}

.z_index_1 {
	z-index: 1;
}

.z_index_10 {
	z-index: 10;
}

.z_index_100 {
	z-index: 100;
}

.z_index_1000 {
	z-index: 1000;
}

.z_index_n1 {
	z-index: -1;
}

.z_index_n10 {
	z-index: -10;
}

.z_index_n100 {
	z-index: -100;
}

.z_index_n1000 {
	z-index: -1000;
}
